.PaginationProduct {
    margin-top: 4rem;
    margin-bottom: 7.5rem;
}

.PaginationProduct nav {
    margin: 0 auto;
}

.PaginationProduct nav ul {
    justify-content: center;
}

.page-link {
    color: #000;
    border: 1px solid #ff523b;
    width: 3.75rem;
}

.page-link:focus {
    box-shadow: none;
}

.page-item:hover .page-link {
    color: #fff;
    background-color: #ff523b;
    border: 1px solid #ff523b;
}
