.Pagination {
    margin-bottom: 5rem;
}

.pagination {
    justify-content: center;
}

.pagination .active {
    background: #ff523b !important;
}

.page-link {
    color: #000;
    background: inherit !important;
    border: 1px solid #ff523b !important;
}

.page-link:hover {
    color: #000;
}

.page-link:focus {
    box-shadow: none !important;
}
