.PaginationProduct {
    margin-top: 4rem;
    margin-bottom: 7.5rem;
}

.PaginationProduct button {
    margin-right: 0.5rem;
}

.PaginationProduct button,
.PaginationProduct button:hover,
.PaginationProduct button:focus,
.PaginationProduct button:active {
    background: #fff !important;
    color: #ff523b !important;
    border: 1px solid #ff523b !important;
    box-shadow: none !important;
}

.PaginationProduct button:hover {
    background: #ff523b !important;
    color: #fff !important;
}
