.FeaturedProduct .row {
    justify-content: space-between;
}

.FeaturedProduct .row .col-md-3 {
    flex-basis: 18rem;
}

@media screen and (max-width: 576px) {
    .FeaturedProduct .row {
        margin: 0;
    }

    .FeaturedProduct .row .col-md-3 {
        margin: 2rem 1rem;
        padding: 0;
        flex-basis: 100%;
    }
}
