.Image-content {
    margin-bottom: 8rem;
}

.ImageNotLoaded {
    height: 340px;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-image {
    color: #e8e8e8;
}
