.ProductDetail {
    margin-top: 5rem;
}

.product-image {
    height: 600px;
    width: 100%;
}

.ProductDetail-img > img {
    padding: 0;
}

.ProductDetail-content h4 {
    margin: 1.5rem 0;
    font-size: 1.375rem;
    font-weight: bold;
}

.ProductDetail-content h2 {
    font-size: 3rem;
    font-weight: 700;
}

.ProductDetail-content .title-link {
    margin-top: 1.5rem;
}

.ProductDetail-content .ProductDetail-form {
    width: 7.5rem;
}

.ProductDetail-content .form-group .form-control {
    border-radius: 0;
    border: 1px solid #ff523b;
}

.ProductDetail-content .form-group .form-control:focus {
    box-shadow: none;
}

.fa-indent {
    color: #ff523b;
    margin-left: 0.75rem;
}

.ProductDetail-content h3 {
    margin-bottom: 2rem;
    font-weight: bold;
}

.slide-images {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.slide-images > img {
    height: 140px;
}

.image {
    flex-basis: 24%;
    cursor: pointer;
}

.content-detail {
    color: #8a8a8a;
}

.ProductDetail-form {
    display: flex;
    align-items: center;
}

.ProductDetail-form label {
    margin-right: 1rem;
}

.title-link a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

.title-link a:hover {
    color: #ff523b;
}

@media screen and (max-width: 768px) {
    .ProductDetail-content h2 {
        font-size: 1.75rem;
    }

    .ProductDetail-content h3 {
        font-size: 1.5rem;
    }

    .product-image {
        height: 400px;
    }
}

@media screen and (min-width: 768px) {
    .ProductDetail-img {
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    .ProductDetail .ProductDetail-container {
        padding: 0 2rem;
    }
}
