.CartDetail {
    margin: 5rem auto;
}

th {
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
}

.table td {
    padding: 10px 5px;
    vertical-align: middle;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cart-info p,
.cart-info small {
    margin-bottom: 0.5rem;
}

.cart-info small {
    display: block;
}

td input {
    width: 50px !important;
    height: 30px !important;
    padding: 5px !important;
    margin-left: 1rem;
    box-shadow: none !important;
}

td input:focus {
    border: 1px solid #ced4da !important;
}

td a {
    display: block;
    color: #ff523b;
    font-size: 12px;
}

td a:hover {
    color: #ff523b;
    text-decoration: none;
}

td img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 20rem;
}

.total-price tr {
    height: 3rem;
}

td:last-child,
th:last-child {
    text-align: end;
}

@media screen and (max-width: 576px) {
    .total-price table {
        width: 100%;
    }
    .cart-info p {
        display: none;
    }
}
