.Product {
    width: 100%;
    box-shadow: 0px 2px 20px #aaa;
    transition: 0.5s;
}

.Product .card {
    border: none;
    margin-bottom: 3rem;
}

.Product:hover {
    transform: translateY(-10px);
}

.Product .card .card-body {
    padding: 0.5rem;
}

.Product .card-title {
    margin-bottom: 0.25rem;
}

.Product .card .card-body p {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}

.rating .fa-star,
.rating .fa-star-half-alt {
    color: #ff523b;
}
