.RelatedProducts {
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.RelatedProducts .row .col-md-6 {
    padding: 0;
}

.RelatedProducts .row .col-md-6:last-child {
    text-align: end;
}

.RelatedProducts .row .col-md-6:last-child a {
    color: #8a8a8a !important;
    text-decoration: none !important;
}

.RelatedProducts .row .col-md-6:last-child a:hover {
    color: #8a8a8a !important;
    text-decoration: underline !important;
}

.RelatedProducts-link {
    padding: 0 !important;
}

.RelatedProducts-link:hover {
    color: #000 !important;
}

.RelatedProducts-title {
    margin: 0 !important;
    text-align: start;
}

.RelatedProducts-title::after {
    width: 0;
    height: 0;
}

.RelatedProducts .row:first-child {
    margin-bottom: 4rem !important;
}
