.navbar {
    padding: 1rem 0;
    position: relative;
}

.nav-item {
    margin-left: 1rem;
    position: relative;
}

.nav-link {
    color: #000 !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff4e4e !important;
}

.nav-show {
    display: block !important;
}

.navbar-toggler {
    border: none;
    padding: 0;
    margin: 0 !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.cart {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 1.5rem;
    cursor: pointer;
}

.cart .Menubar-cart {
    display: block;
    width: 100%;
    height: 100%;
}

.cart-number {
    color: #fff;
    width: 75%;
    height: 75%;
    text-align: center;
    border-radius: 50%;
    background-color: #ff523b;
    position: absolute;
    top: -5px;
    right: -8px;
}

@media screen and (max-width: 767px) {
    .Menubar-nav {
        display: none;
        background-color: #000;
        position: absolute;
        top: 4.9rem;
        left: 0;
        width: 100%;
        transition: 0.3s ease-in-out;
        z-index: 1000;
    }
    .navbar {
        padding: 1rem 1.5rem;
    }

    .nav-item {
        margin: 0.25rem 1.5rem !important;
    }

    .nav-link {
        color: #fff !important;
        text-align: end;
    }

    .nav-link:hover {
        color: #fff !important;
    }

    .Menubar-cart {
        margin: auto 1rem auto auto;
    }
}
