* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin: 3rem 0 7rem;
  position: relative;
}

.nav-link:visited {
  background-color: #ff2e2e !important;
  border: none !important;
}

.title::after {
  content: "";
  width: 5rem;
  height: 0.25rem;
  background-color: #ff2e2e;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  display: block;
}

.link,
.link:hover {
  color: #000;
  text-decoration: none;
}

.Account-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84bfff;
}

@media screen and (max-width: 576px) {
  .Account-form {
    width: 100%;
  }
  .title {
    font-size: 1.75rem;
  }
}
